# Nexys3 board

## Clock signal
#Bank = 2, pin name = IO_L30N_GCLK0_USERCCLK,            Sch name = GCLK
NET "clk" LOC = V10;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 100 MHz;

## Centre button as reset
#Bank = 0, Pin name = IO_L33P,                           Sch name = BTNS
NET "rst" LOC = B8;
NET "rst" IOSTANDARD = LVCMOS33;

## Leds
#Bank = 2, Pin name = IO_L2P_CMPCLK,                     Sch name = LD0
NET "LED[0]" LOC = U16;
NET "LED[0]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L2N_CMPMOSI,                    Sch name = LD1
NET "LED[1]" LOC = V16;
NET "LED[1]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L5P,                            Sch name = LD2
NET "LED[2]" LOC = U15;
NET "LED[2]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L5N,                            Sch name = LD3
NET "LED[3]" LOC = V15;
NET "LED[3]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L15P,                           Sch name = LD4
NET "LED[4]" LOC = M11;
NET "LED[4]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L15N,                           Sch name = LD5
NET "LED[5]" LOC = N11;
NET "LED[5]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L16P,                           Sch name = LD6
NET "LED[6]" LOC = R11;
NET "LED[6]" IOSTANDARD = LVCMOS33;
#Bank = 2, Pin name = IO_L16N_VREF,                      Sch name = LD7
NET "LED[7]" LOC = T11;
NET "LED[7]" IOSTANDARD = LVCMOS33;



## Usb-RS232 interface
#Bank = 1, Pin name = IO_L48P_HDC_M1DQ8,                 Sch name = MCU-RX
NET "RXD" LOC = N17;
NET "RXD" IOSTANDARD = LVCMOS33;
#Bank = 1, Pin name = IO_L48N_M1DQ9,                     Sch name = MCU-TX
NET "TXD" IOSTANDARD = LVCMOS33;


#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE




NET "TXD" LOC = N18;


NET "LED_sel" LOC = T10;

# PlanAhead Generated physical constraints 

NET "inv" LOC = T9;

# PlanAhead Generated IO constraints 

NET "inv" IOSTANDARD = LVCMOS33;
NET "LED_sel" IOSTANDARD = LVCMOS33;
